packages/
bin/
obj/
.fake/
/.vs/NADAE/v14/*.suo
build
test/
Nuget/
!tools/
tools/*
!tools/BuildTools/
!tools/NADAE/
.sonarqube/
/Command.bat
/.vs/NADAE.Test/v14
*.suo
/.vs
/*.user
/Share/StartTeam/nuget/*.nupkg
*.nupkg
*.user
*.dll
*/NugetAssets/
*.resourcesConfig
*SMEE.NADAE.ModuleLauncher.exe
/Implementation/SMEE.*.xml
/Implementation/SMEE.NADAE.Platform.LicenseManagement.Test/Configuration/License1.xml
/Implementation/SMEE.NADAE.Platform.LicenseManagement.Test/Configuration/License1.xsd
/Implementation/SMEE.NADAE.Platform.LicenseManagement.Test/Configuration/LicenseWithDefaul.xml
/Implementation/SMEE.NADAE.Platform.LicenseManagement.Test/Configuration/LicenseWithDefaul.xsd
/Implementation/SMEE.NADAE.Platform.LicenseManagement.Test/Configuration/LicenseWithoutDefaul.xml
/Implementation/SMEE.NADAE.Platform.LicenseManagement.Test/Configuration/LicenseWithoutDefaul.xsd
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCClass1.xml
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCClass1.xsd
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCClass1_1.xml
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCClass1_1.xsd
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCClass2.xml
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCClass2.xsd
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCClass3.xml
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCClass3.xsd
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCStruct.xml
/Implementation/SMEE.NADAE.Platform.MCFCManagement.Test/Configuration/MCFCStruct.xsd
/Implementation/SMEE.NADAE.Platform.Mocker/MockExtension/MockExtendtionTest.cs
/Implementation/SMEE.NADAE.Platform.Mocker/MockExtentionDemo.cs
/Implementation/SMEE.NADAE.ModuleLauncher/NugetAssets/Lib
sonar-project.properties
.scannerwork
